.CodeMirror {
	border-top: 0px;
	border-bottom: 0px;
	background: #f7f7f7;
}
body {
	margin: 0px;
	border: 0px;
}
textarea {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
select {
	opacity: 0.3;
	margin: 0px;
	background: #d0d0d0;
	border: 0px;
}
select:hover {
	opacity:1;
}
div.spacer {
	width: 4px;
	height: 4px;
}
span.spacer {
	display: inline-block;
	width: 20px;
	height: 4px;
}

img.active {
	filter: sepia(100%);
	// Browser Specific
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	-o-filter: sepia(100%);
	-ms-filter: sepia(100%);
}

img.button {
	opacity:0.3;
    padding:1px
}

img.button:hover {
	opacity:1;
}

act {
	background: #FF00FF;
}

.toolbar {
    position:absolute;
    z-index:99;
    bottom:25px;
    right:25px;
    cursor:pointer;
    border:0px;
    -webkit-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
    visibility: visible;
    width: 215px;
    height: 27px;
    max-height: 27px;
    max-width: 215px;
    overflow: hidden;
}

#WaveDrom_Display_0 {
	width:100%;
	height:100%;
	overflow: auto;
}
