{
    env: {
        node: true
    },
    rules: {
        strict: [2, 'global'],
        semi: [2, 'always'],
        quotes: [1, 'single'],
        no-mixed-requires: 1,
        no-unused-vars: 1,
        camelcase: 0,
        key-spacing: 0,
        no-multi-spaces: 0,
        no-eval: 1,
        no-shadow: 1,
        new-cap: 1
    }
}
