/* main local CSS */
body {
	background: #d0d0d0;
	margin: 0px;
	font-size: 11pt;
	font-family:"Helvetica";
}
table {
	border-spacing: 0px 0px;
	border-spacing: 0;
	border: 0;
	padding: 0;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}
td {
	width: 7px
}
#PanelA {
	height: 200px;
	border: 1px solid;
	border-color: #777;
}
#PanelB {
	background: #FFF;
}
#InputJSON {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	overflow: auto;
}
#InputJSON_0 {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	overflow: auto;
}
#OutputSVG {
	background:#f0f0d0;
	width:100%;
	height:100%;
}
